$colorCard: #d1d1d1;

.bg-cards {
  display: flex;
  flex-wrap: wrap;
  .bg-card {
    width: 250px;
    padding: 1.3rem;
    margin: 0 15px 50px 10px;
    border-radius: 5px;
    border: 1px solid $colorCard;
    box-shadow: 1px 2px 5px $colorCard;
    h3 {
      padding-bottom: 0.5rem;
    }
    h4 {
      font-weight: none;
      padding-bottom: 0.3rem;
    }
    .bg-buttom {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      button {
        background: #0d2c31;
        color: white;
        border: none;
        font-size: 0.8rem;
        padding: 0.5rem;
        transition: 0.2s linear;
        cursor: pointer;
        &:hover {
          background: #00adee;
        }
      }
    }
  }
}

.marginIcon {
  margin-right: 20px;
  width: 15px;
  height: 15px;
  color: #00adee;
  text-align: center;
}
